# Ignore the __pycache__ directory
__pycache__/

# Ignore the database file
*.db

# Ignore other temporary files
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignore virtual environment directories
venv/
env/

.DS_Store